<header id="header">
    <img src="/img/iconourk.png" alt="logo" class="imagen-logo">
    <div class="imagen-fachada"><img src="/img/fachada-edit.jpg" alt="fachada" width="100%" height="100%">
    </div>
</header>