<section class="search" id="search"><input type="text" class="search-barra"><label for="">busqueda</label></section>
<nav class="navbar" id="navbar">
    <ul>
        <li><a href="#" class="navbar-butons">Inicio</a></li>

        <li class="navbar-butons"><a href="/especialidades">Especialidades</a></li>


        <li> <a href="/medicos" class="navbar-butons">Medicos</a></li>


        <li><a href="#" class="navbar-butons">Estudios</a></li>


        <li><a href="#" class="navbar-butons">Nosotros</a></li>

    </ul>
</nav>